.movies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px;
  }

.movie {
  margin: 1rem;
  width: 182px;
  height: 650px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

button:hover {
  background-color: #f7fafa;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.movie .whitespace, 
.movie img {
  height: 268px;
  width: 182px;
  display: block;
}

.alternativeContent img{
  height: 20vw;
}

.alternativeContent{
  margin: 100px;
}