.App {
  text-align: center;
}


#create {
  margin: 0 0 20px;
}

input {
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  margin: 0 20px 0 0;
  line-height: 29px;
}

.Main {
  width: 100%;
  position: absolute;
  top: 300px;
}

.options, 
.toggle, 
.create {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.options, 
.create {
  top: 150px;
}

.toggle {
  top: 200px;
  padding: 0 0 20px 0;
}